:root{
    ---font-family---:source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
}
.FAQ{
    display: block;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    padding: 0 0 100px 0;
 
}

button>h3{
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    text-transform: uppercase;
    font-weight: bold;
    font-style: oblique;
    color:#4a597b;
    letter-spacing: .1em;
}
div>p.text-faq{
    font-family:var(---font-family---);
    letter-spacing: 0.01em;
 
    font-size: 20px;

  color: rgb(0, 0, 0);
}