.langages {
  color: aliceblue;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
}
.kubernetes,
.postgresql,
.javascript,
.bootstrap,
.wordpress,
.mongodb,
.vscode,
.github,
.docker,
.python,
.django,
.ubuntu,
.mysql,
.linux,
.react,
.html,
.git,
.css {
  height: 14vmin;
  max-width: 50%;
  pointer-events: none;
  padding: 10px 10px 10px 10px;
  border: 10px solid #F1F0EA;
  ;
  border-radius: 100px;

}

@media screen and (max-width: 768px) {
  .langages {
    align-items: center;
    justify-content: center;
    width: 90%;
 
  }

  .kubernetes,
  .postgresql,
  .javascript,
  .bootstrap,
  .wordpress,
  .mongodb,
  .vscode,
  .github,
  .docker,
  .python,
  .django,
  .ubuntu,
  .mysql,
  .linux,
  .react,
  .html,
  .git,
  .css {
    height: 8vmin;
align-items: center;
    padding: 1px 1px 1px 1px;
    border:1px solid white;
    border-radius: 50px;
    background-color: #F1F0EA;


  }

}