:root {
    --backgroung-color--: #F1F0EA;
    ---color-h1--:#e90101;
    ---color-h3-p-: #002155;
}
.Projets{
    color:black;
    background-color: var(--backgroung-color--);
    padding:50px  150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr );  
    gap:10px;
}
.card-projet{
    width: 100%;
    height: 56vh;
    padding:5px ;
    border: 1 solid;
    border-radius: 5px;
    background-color: #ffffff;
}
img {
    min-width: 100%;
    height: 35vh;

}
.card-text{
    color:black;
}
h5>a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-overflow: ellipsis;

}
div>p{
    font-size: 12px;
}
@media (max-width: 1090px){
    .Projets{
        color:black;
        background-color: var(--backgroung-color--);
        padding:50px  50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr );  
        gap:10px;
    } 
    .card-projet{
        width: 100%;
        height: 46vh;
        border: 1 solid;
        border-radius: 5px;
        background-color: #ffffff;
    }
    img {
        min-width: 100%;
        height: 20vh;
    
    }
    div>p{
        font-size: 16px;
    }
}